

body {
    background-color: lightgreen;
    font-family: monospace;
}
.container{
    width: 600px;
    margin-top: 5%;
    padding-bottom: 5%;
    padding-top: 10%;
    border-style: solid;
    box-shadow: 10px 10px grey;
    background-color: bisque;
}
 h1 {
    color: black;
    font-family: monospace;
    text-decoration: underline;
    font-size: 50px;

}; 


#tipAmount {
    /* display: flex; */
    /* max-width: 50px; */
}

.bill {
    border-style: solid;
    margin-bottom: 1%;
    font-size: 25px;
    text-align: center;
}



.custom-row-1, .custom-row-2{
    /* background-color: bisque; */
    justify-content: center;
    text-align: center;
}


.custom-row-3{
    max-width: 300px;
    position: relative;
        left: 50%;
        transform: translateX(-63%);
    justify-content: center;
    align-items: center;
}

.form-select {
    border-style: solid;
    padding: 0;
    width: 370px
}

.custom-row-4{
    justify-content: space-around;
    text-align: center;
    
}

select { 
    width: 400px; 
    text-align-last:center; 
    border-style: solid;
}

option{
    text-align-last: center;
}

.custom-row-5 {
    justify-content: center;
    text-align: center;
    
}


.tipInfo {
    margin-bottom: 2%;
}


#bill-header{
    text-decoration: underline;
    margin-top: 5%;
}







