

body {
    background-color: lightgreen;
}
.container{
    margin-top: 5%;
    padding-bottom: 5%;
    padding-top: 10%;
    border-style: solid;
    box-shadow: 10px 10px grey;
    background-color: bisque;
}
 h1 {
    color: rgb(9, 80, 9);

}; 

#tipAmount {
    /* display: flex; */
    /* max-width: 50px; */
}

.custom-row-1, .custom-row-2{
    /* background-color: bisque; */
    justify-content: center;
    text-align: center;
}


.custom-row-3{
    max-width: 300px;
    margin: 3%;
    position: relative;
        left: 50%;
        transform: translateX(-63%);
    justify-content: center;
    align-items: center;
}

.custom-row-4{
    justify-content: space-around;
    text-align: center;
    
}

select { width: 400px; text-align-last:center; }

option{
    text-align-last: center;
}

.custom-row-5 {
    justify-content: center;
    text-align: center;
    
}

.tipInfo {
    border-style: dotted;
    margin-bottom: 2%;
    margin-left: 75vh;
    margin-right: 75vh;
}

#bill-header{
    text-decoration: underline;
}




